.icon {
  display: inline-feature;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-check1 {
  width: 1.06640625em;
}

.Rectangle-11 {
  width: 1.06640625em;
}

.Vector1 {
  width: 1.2998046875em;
}

.Vector2 {
  width: 1.06640625em;
}
