.icon {
  display: inline-feature;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-check {
  width: 1.06640625em;
}

.Logo {
  width: 1.1962890625em;
}

.Vector {
  width: 1.06640625em;
}

.untitled {
  width: 0.0625em;
}
