html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
    /* background-position: center; */
}

li {
    list-style-type: none;
}

html,
body,
ol,
ul,
li,
dl,
dt,
dd,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

