.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--color-txt--title, $colorTxt-secondary);
}
body {
    color:$colorTxt-primary;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background: $colorMaxLight;
}

.invisible {
    position: absolute;
    opacity: 0;
}

a {
    text-decoration: none;
    // color: $colorTxt-socialLink;
    // transition: color 250ms $cubic;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    opacity: 1;
    transition: opacity 260ms linear;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    opacity: 0.1;
    transform: translate(-50%, -50%) scale(10%);
  }
  