
/*********************************/
/*********фильтр******************/
/*********************************/

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__btn{
      
      @extend %filter;
  }
}
  
  .filter > li + li {
    margin-left: 8px;
  }
  
  .btnFilter {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bgBtnFilter, #f5f4fa);
    border-radius: 4px;
    padding: 6px 22px;
  
    color: var(--secondary-txt-color, #212121);
  
    border: 1px solid var(--secondary-border-color, #eeeeee);
    
  
    /* margin-bottom: 50px; */
  }
  
  .btnFilter:focus,
  .btnFilter:hover {
    cursor: pointer;
    color: var(--white-txt-color, $colorMaxLight);
    background-color: var(--primary-accent-color, #2196f3);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 4px; */
    border: 1px solid var(--primary-accent-color, #2196f3);
  }
  