.craft {
    //background-color: ;
    
    &__title {
        Font-size: 36px;
        Line-height: 1.17;
        color: $colorTxt-secondary;

        text-align: center;
    }
    &__gallery{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    &__item {
        position: relative;
    }
    &__bg-title {
        position: absolute;
        padding-top: 27px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        width: 100%;
        height: 70px;
        bottom: 0px;
        background-color: rgba(47, 48, 58, 0.8);
        color: $colorMaxLight;
    }
}