
.footer{
    background-color: $colorBg-Dark;
    &__al{
      //text-align: center;
      
    }
    
    &__section {
      padding-top: 60px;
      padding-bottom: 60px;
      @media (min-width: 1200px){
        display: flex;
      }
      

    }

    &__socbox-postion {
      //text-align: center;
      padding-top: 15px;
      @media (min-width: 1200px){
      
      margin-left: 70px;
    }
    }
    
    &__address-postion {
      margin-top: 20px;
    }

    &__subscription-postion {
      padding-top: 15px;

      
      height: 88px;
      @media (min-width: 1200px){
      margin-left: 93px;
      width: 570px;
    }
    }  
}

// .logo--down{
//   color: $colorMaxLight;
// }  

