
  .header {
    @media (max-width: 479px) {
      // max-width: 450px;
      // width: 100%;
   }
  &__logo{
    @media (max-width: 767px) {
      margin-top: 16px;
      margin-bottom: 16px;
   }
  }
  &__logo:hover {

  }
  
    border-bottom: 1px solid $colorBorder-default;
  

  &__container {
    position: relative;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
  }

  &__nav {
    @media (max-width: 767px) {
      position: absolute;
      opacity: 0;
   }
   @media (min-width: 768px) {
    padding-right: 0;
  }
     padding-right: 177px;
    }

  &__contacts {
    @media (max-width: 767px) {
      position: absolute;
      opacity: 0;
   }
    @media (min-width: 768px) and (max-width:1199px) {
      display: block;
    } 
  }  
  &__menu {
    
    @media (min-width: 768px) {
      position: absolute;
      opacity: 0;
   }
      display: inline-flex;
      position: relative;
      top: 5px;
      border: none;
      background-color: #fff;
      margin: 0;
      padding: 0;
  }
  &__menu:hover {
    fill: var(--primary-accent-color, #2196f3);
    cursor: pointer;
  }
  &__menu_open:hover {
   // fill: var(--primary-accent-color, #2196f3);
  }

  &__menu_close {
    display: none;
  }

  &__menu.is-open &__menu_close {
    display: block;
  }

  &__menu.is-open &__menu_open {
    display: none;
  }

}
.menu_container{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: auto;//736px;
  background-color: white;
  padding: 32px 40px;
  align-content: space-between;
  z-index: 100;
  &.is-open{
    display: block;
  }
}

.m-nav{
  font-family: Roboto;
  font-style: Medium;
  margin-bottom: 245px;
}

.m-nav__link {
  font-size: 40px;
  line-height: 1.175;
  display: block;
  color: #212121;
  margin-bottom: 32px;
}

.m-nav__link:focus,
.m-nav__link:hover {  
  color: var(--primary-accent-color, #2196f3);
}

.m-contacts__link {
  
}
.m-tel{
  display: block;
  font-size: 34px;
  margin-bottom: 32px;
  color: $colorTxt-accent;
}
.m-mail{
  display: block;
  font-size: 24px;
  margin-bottom: 64px;
  color: #757575;
}
.m-socbox__flex{
  display: flex;
  //justify-content: space-between;
  
}
.m-socbox__flex a{
  font-size: 18px;
  color: $colorTxt-accent;
}

.m-socbox__flex a:hover {
  text-decoration:initial;
}

.r{
  font-size: larger;
  padding: 0 10px;
  color: rgba(33, 33, 33, 0.2);
  //border-left: 1px solid #757575;
}