
  .header {
    @media (max-width: 479px) {
      // max-width: 450px;
      // width: 100%;
   }
  &__logo{
    @media (max-width: 479px) {
      margin-top: 16px;
      margin-bottom: 16px;
   }
  }  
    border-bottom: 1px solid $colorBorder-default;
  

  &__container {
    position: relative;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &::before{
      @media (max-width: 479px) {
      content: '.';
      //color: #000;
      color: #fff;
      //fill: #000;
      stroke: none;
      width: 32px;
      top: 22px;
      left: calc(90%); 
      //right: 24px;
      //left: 42px;
      position: absolute;
      background-image: url(../images/1/menu_24pxb.svg);
    }
    }
    &::before:hover{
      content: ' ';
      background-image: url(../images/1/menu_blue_24px.png);
    }
  }

  &__nav {
    @media (max-width: 479px) {
      position: absolute;
      opacity: 0;
   }
     padding-right: 177px;
    }

  &__contacts {
    @media (max-width: 479px) {
      position: absolute;
      opacity: 0;
   }

    }  
  &__menu {
  //padding-right: 177px;
  }

}
