//@import './utils/mixins';
.hero {
    background: $colorBg-img;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:auto;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: $bg-gradient, url(../images/1/hero_mob@1.jpg);

      @include retin {
        background-image: $bg-gradient, url(../images/1/hero_mob@2x.jpg); 
      }

      @include _480 {
      background-image: $bg-gradient, url(../images/1/hero_tab@1.jpg);

      @include retin {
          background-image: $bg-gradient, url(../images/1/hero_tab@2x.jpg);
      }
    }

    @include _768 {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: $bg-gradient, url(../images/1/Img@1x.jpg);
      @include retin {
        background-image: $bg-gradient, url(../images/1/Img@2x.jpg);
      }
    }

    &__title{
      color: $colorTxt-Light;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.38;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;

      @include _768 {
        font-size: 44px;
      }
    }
    
    &__btn{
      @extend %main;
    }
}

