.hero {
    background: $colorBg-img;
    background-image: linear-gradient(to left, #2f303a66, #2f303a66), url(../images/1/Img.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title{
      color: $colorTxt-Light;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &__btn{
      @extend %main;
    }
}

