%btn-base{
  border-radius: 4px;
  box-shadow: $shadow-box;
  transition: background-color 250ms $cubic,border 250ms $cubic;
  
}
%btn-size-fix {
  width: 200px;
  height: 50px;
  //display: flex;
  justify-content: center;
  align-items: center;
}
%btn-size-add {
  padding: 6px 22px;
}
%btn-color-1 {
  color: $colorMaxLight;
  background-color: $colorBtnBg-activ;
}
%btn-color-2 {
  color: $colorTxt-secondary;
  background-color: #f5f4fa;
  border: 1px solid var(--secondary-border-color, #eeeeee);
  box-shadow: none;
}
%btn-text-1 {
  font-family : Roboto;
  font-size: 16px;
  font-style: 700;
  line-height: 1.875;
  line-height: 1.625;
  letter-spacing: 6%;
}
%btn-text-2 {
  font-family : Roboto;
  font-size: 16px;
  font-style: 400;
  line-height: 1.875;
  line-height: 1.625;
  letter-spacing: 3%;
}
%btn-icon {
  position: relative;
  display: inline-block;
  top: 6px;
  left: 5px;
  fill: $colorMaxLight;
  width: 24px;
  height: 24px;
}
%btn-use {

}
%filter {
  @extend %btn-base;
  @extend %btn-size-add;
  @extend %btn-text-2;
  @extend %btn-color-2;
  &:focus,
  &:hover {
    cursor: pointer;
    color: var(--white-txt-color, $colorMaxLight);
    background-color: var(--primary-accent-color, #2196f3);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 4px; */
    border: 1px solid var(--primary-accent-color, #2196f3);
  }
}
%main {
  @extend %btn-base;
  @extend %btn-size-fix;
  @extend %btn-text-1;
  @extend %btn-color-1;
  &:hover {
    color: $colorTxt-main;
    background-color: $colorBtnBg-hover;
    cursor: pointer;
}
}
%btn-icon{
  @extend %btn-base;
  @extend %btn-size-fix;
  @extend %btn-text-1; 
  @extend %btn-color-1;
  @extend %-icon;
  &:hover {
    color: $colorTxt-main;
    background-color: $colorBtnBg-hover;
    cursor: pointer;
}
}
%-icon{
    position: relative;
    display: inline-block;
    top: 6px;
    left: 5px;
    fill: $colorMaxLight;
    width: 24px;
    height: 24px;
    :hover {
      transform: rotate(360deg);
      transition: transform 1260ms $cubic;
    }
}

.button {
    font-family : Roboto;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: $shadow-box;
    transition: background-color 250ms $cubic;

    &:hover {
        color: $colorTxt-main;
        background-color: $colorBtnBg-hover;
        cursor: pointer;
    }


    &__main {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-style: 700;
        line-height: 1.875;
        color: $colorMaxLight;
        background-color: $colorBtnBg-activ;
        line-height: 1.625;
        letter-spacing: 6%;
    }
// /*filter*/  
  
}    
.botton__icon {
    position: relative;
    display: inline-block;
    top: 6px;
    left: 5px;
    fill: $colorMaxLight;
    width: 24px;
    height: 24px;
    /* transform: rotate(1deg); */
    
  }
  /* .email-foo > div > button:hover~ */
  .botton__icon:hover {
    
    transform: rotate(360deg);
    transition: transform 1260ms $cubic;
  }




// &__filter{
//   padding: 6px 22px;
//   font-style: 400;
//   color: $colorTxt-secondary;
//   background-color: $colorBtnBg-filter;
//   line-height: 1.625;
//   letter-spacing: 3%;
// }

// %btn--base {
//     font-family : Roboto;
//     font-size: 16px;
//     border: none;
//     border-radius: 4px;
//     box-shadow: $shadow-box;
//     transition: background-color 250ms $cubic;

//   &:hover {
//     color: $colorTxt-main;
//     background-color: $colorBtnBg-hover;
//     cursor: pointer;
//   }
// }

// %btn--main {
//     //@extend %btn--base;
//     width: 200px;
//     height: 50px;
//     justify-content: center;
//     align-items: center;
//     font-style: 700;
//     line-height: 1.875;
//     color: $colorMaxLight;
//     background-color: $colorBtnBg-activ;
//     line-height: 1.625;
//     letter-spacing: 6%;
//   }
  
//   %btn--filter {
//     //@extend %btn--base;
//     padding: 6px 22px;
//     font-style: 500;
//     color: $colorTxt-secondary;
//     background-color: $colorBtnBg-filter;
//     line-height: 1.625;
//     letter-spacing: 3%;
// }
// .button__Filter{
//     @extend %btn--filter;
//     transition: background-color 250ms $cubic, 
//     border 250ms $cubic;
// }