/* .web,
.studio  */
.logo {
  display: flex;
  position: relative;
  top: 4px;
    margin: 0;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $colorTxt-accent;
    &--up {
      color: $colorTxt-forlinkLightBg;
      margin:  26px 0 ;
    }
    &--down {
      color: $colorMaxLight;
    }

} 
