.nav{
    display: flex;
    width: 294px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 2%;

    &__link {
        display: block;
        color: $colorTxt-secondary;
        padding-top: 32px;
        padding-bottom: 32px;
      }
      
    &__link:hover {
        display: block;
        color: $colorTxt-accent;
      }

    &-after {
        position: relative; /* content: ""; */
        background-image: url(../images/2/line-portfolio.svg);
        background-position: right bottom;
      }

    &-after::after {
        position: absolute;
        color: transparent;
        content: "0";
        display: block;
      }  
}

