.team-card {
    //width: 100%;
    //min-height: auto;

    // width: 270px;
    // min-height: 428px;
    font-size: 16px;
    line-height: 1.18;
    background-color: var(--white-txt-color, $colorMaxLight);
    box-shadow: $shadow-box;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;

    
    &__text{
        display: inline-block;
        padding: 30px 24px 16px;
        font-size: 16px;
        line-height: 0.9;
        margin-bottom: 0;
    }

    &__name {
        display: block;
        font-weight: 700;
        color: $colorTxt-secondary;
    }

    &__soc_pos{
        display: flex;
        justify-content: center;
    }

}
